:root {
  --primary-50: #f2f2fb;
  --primary-100: #e9e8f7;
  --primary-200: #d5d4f1;
  --primary-300: #bdbae7;
  --primary-400: #a89edb;
  --primary-500: #9585cf;
  --primary-600: #856cbf;
  --primary-700: #7058a3;
  --primary-800: #5d4c87;
  --primary-900: #4f426d;
  --primary-950: #2e273f;
  --secondary-50: #f9ffe6;
  --secondary-100: #f1fec9;
  --secondary-200: #e1fc9a;
  --secondary-300: #cbf75f;
  --secondary-400: #baee42;
  --secondary-500: #94d210;
  --secondary-600: #72a808;
  --secondary-700: #57800b;
  --secondary-800: #46650f;
  --secondary-900: #3b5512;
  --secondary-950: #1d2f04;
  --neutral-50: #f7f7f7;
  --neutral-100: #edeced;
  --neutral-200: #dfdedf;
  --neutral-300: #c8c7c9;
  --neutral-400: #b8b7b9;
  --neutral-500: #99979a;
  --neutral-600: #898789;
  --neutral-700: #7b797c;
  --neutral-800: #676568;
  --neutral-900: #545355;
  --neutral-950: #363536;
  --primary: #7058a3;
  --secondary: #baee42;
  --danger: #f3214c;
  --info: #0695d2;
  --success: #b7f80f;
  --caution: #f9bc1e;
  --neutral: #b8b7b9;

  /* --primary-color-12: #341a31;
  --primary-color-11: #52294d;
  --primary-color-10: #6f3968;
  --primary-color-9: #8c4984;
  --primary-color-8: #a9599f;
  --primary-color-7: #b56eac;
  --primary-color-6: #c083b8;
  --primary-color-5: #cb98c5;
  --primary-color-4: #d6add1;
  --primary-color-3: #e1c3de;
  --primary-color-2: #ecd8ea;
  --primary-color-1: #f7eef6;
  --secondary-color-12: #4d3e21;
  --secondary-color-11: #796235;
  --secondary-color-10: #a68549;
  --secondary-color-9: #d2a95e;
  --secondary-color-8: #fdcc74;
  --secondary-color-7: #fed385;
  --secondary-color-6: #ffda96;
  --secondary-color-5: #ffe0a8;
  --secondary-color-4: #ffe7ba;
  --secondary-color-3: #ffedcc;
  --secondary-color-2: #fff4de;
  --secondary-color-1: #fffaf0; */
}
